In [ ]:
pip install pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
df.head(3)

In [ ]:
df.dtypes # various data types present inside this data-set

In [ ]:
list(df.columns) # column name for inside this data-set

In [ ]:
df.describe() #basic of ststistics for  this data set

In [ ]:
df.dtypes == "object"

In [ ]:
df.dtypes[df.dtypes == "object"].index

In [ ]:
df[df.dtypes[df.dtypes == "object"].index]

In [ ]:
df[df.dtypes[df.dtypes == "object"].index].describe() # basic description of this data-set for only object data-types

In [ ]:
df[df.dtypes[df.dtypes == "float"].index]

In [ ]:
df[df.dtypes[df.dtypes == "int"].index]

In [ ]:
df.columns

In [ ]:
df[['Ticket','Cabin']][4:11:2]

In [ ]:
df

In [ ]:
df['new_col'] = 0

In [ ]:
df

In [ ]:
df['new_col_1'] = df['PassengerId'] + df['Pclass']

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df[df['Pclass'] == 3]

In [ ]:
pd.Categorical(df['Survived'])

In [ ]:
df['Cabin'].unique()

In [ ]:
df.head()

In [ ]:
len(df[df['Age'] > 18])

In [ ]:
df[df['Fare'] > 32.204208]

In [ ]:
df[df['Fare'] == 0]

conclusion:- there are total 891 passenger but male only 577 who to travel for titanic ship

In [ ]:
df[df['Sex'] == 'male']

conclusion:- there are total 891 passenger but female only 314 who to travel for titanic ship

In [ ]:
df[df['Sex'] == 'female']

conclusion:-  there are only 216 people who are travelling in 1st passenger class for titanic ship

In [ ]:
df[df["Pclass"] == 1]

conclusion:- There are total 891 people but survived only 342 people to this incident

In [ ]:
df[df["Survived"] == 1]

conclusion:- There are total 891 people but 577 who they are not survived to this incident

In [ ]:
df[df["Survived"] == 0]

 conclusion :- list of 109 male who survived for this incident

In [ ]:
df[(df["Survived"] == 1) & (df["Sex"] == "male")]

conclusion :-  list of 233 female who survived for this incident

In [ ]:
df[(df["Survived"] == 1) & (df["Sex"] == "female")]["Name"]

conclusion:- There are total 342 person who survived for this incident

In [ ]:
df[(df["Survived"] == 1) & (df["Sex"])]

conclusion :- only 2 male pay more then the average fare for titanic ship

In [ ]:
df[(df["Fare"] == max(df["Fare"])) & (df["Sex"] == "male")]["Name"]

conclusion :- only 1 female pay more then the average fare for titanic ship

In [ ]:
df[(df["Fare"] == max(df["Fare"])) & (df["Sex"] == "female")]["Name"]

conclusion :-there are 468 male not survived for this incident

In [ ]:
df[(df["Survived"] == 0) & (df["Name"]) & (df["Sex"] == "male")]["Name"]

conclusion:- There are 81 female not survived for this incident

In [ ]:
df[(df["Survived"] == 0) & (df["Name"]) & (df["Sex"] == "female")]